*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	height:100vh;
}
header{
	background-color:#2c3e50;
	position:relative;
	padding:0 2rem;
}
.h_nav{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.h_nav img{
	height:100px;
}
.h_nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
	gap:4rem;
}
.h_nav ul li a{
	text-decoration:none;
	color:#ecf0f1;
	font-size:18px;
}
.h_nav ul li a:hover{
	color:#1abc9c;
	font-size:20px;
}
.mbar{
	color:#ecf0f1;
	font-size:20px;
	display:none;
}
.mbar:hover{
	font-size:22px;
	color:#1abc9c;
}
.h_ul{
	display:block;
}
.dropdown_menu{
	position:absolute;
	right:2rem;
	top:60px;
	width:400px;
	background-color:#ecf0f1;
	text-align:center;
	overflow:hidden;
	display:none;
}

.dropdown_menu ul {
	list-style-type:none;
}

.dropdown_menu li{
	padding:0.7rem;
	border: 2px solid #1abc9c;
}
.dropdown_menu li:hover{
	background-color:#415161;
	border:2px solid #ecf0f1;
}

.dropdown_menu ul li a{
	text-decoration:none;
	color:#1abc9c;
}
.dropdown_menu ul li a:hover{
	color:#ecf0f1;
}
	
@media (max-width:992px){
	.mbar{
		display:block;
	}
	.h_ul{
		display:none;
	}
	.dropdown_menu{
		width:0px;
		display:block;
	}
}
footer{
	background-color:#2c3e50;
	padding:5px 20px;
}
.footer{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
		
.ftext {
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left:150px;
	margin-bottom: 15px; 
	letter-spacing: 1px;
	display: inline-block;
	transition: 0.3s ease;
}
.ltext{
	color:white;
	text-decoration:none;
	display:inline-block;
	transition:0.3s ease;
	padding:10px 0px;
}		
.head{
	text-align:center;
	padding: 20px;
	font-size:32px;
}	
.button {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	margin: 40px auto;
	padding: 12px 30px;
	color: #1abc9c;
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 2px solid #1abc9c;
	text-decoration: none;
	transition: 0.3s ease;
}		
.button:hover{
	color:#FFFFFF;
	background-color:#1abc9c;
	font-size:18px;
	border-color:#FFFFFF
}	
.para{
	text-align:left;
	padding :20px;
	margin:0 auto;
	max-width:1600px;
	width: 80%;
	font-size:18px;
}
.icimg{
	height:300px;
	border: 2px solid #c4a484;
	border-radius: 10px;

