header{
	background-color:#2c3e50;
	padding:5px 20px;
}

footer{
	background-color:#2c3e50;
	padding:5px 20px;
}
.footer{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
		
body{
	margin:0px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;			
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	transition: 0.3s ease;
}

nav ul li a:hover {
	font-size: 20px;
	color: #1abc9c;
}
		
.ftext {
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left:150px;
	margin-bottom: 15px; 
	letter-spacing: 1px;
	display: inline-block;
	transition: 0.3s ease;
}
.ltext{
	color:white;
	text-decoration:none;
	display:inline-block;
	transition:0.3s ease;
	padding:10px 0px;
}		
.head{
	text-align:center;
	padding: 20px;
	font-size:32px;
}	
.button {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	margin: 40px auto;
	padding: 12px 30px;
	color: #1abc9c;
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 2px solid #1abc9c;
	text-decoration: none;
	transition: 0.3s ease;
}		
.button:hover{
	color:#FFFFFF;
	background-color:#1abc9c;
	font-size:18px;
	border-color:#FFFFFF
}	
.para{
	text-align:left;
	padding :20px;
	margin:0 auto;
	max-width:1600px;
	width: 80%;
	font-size:18px;
}
.icimg{
	height:300px;
	border: 2px solid #c4a484;
	border-radius: 10px;
}
