header{
	background-color:#2c3e50;
	padding:5px 20px;
}

footer{
	background-color:#2c3e50;
	padding:5px 20px;
}
.footer{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
		
body{
	margin:0px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;			
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	transition: 0.3s ease;
}

nav ul li a:hover {
	font-size: 20px;
	color: #1abc9c;
}
		
.ftext {
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left:150px;
	margin-bottom: 15px; 
	letter-spacing: 1px;
	display: inline-block;
	transition: 0.3s ease;
}
.ltext{
	color:white;
	text-decoration:none;
	display:inline-block;
	transition:0.3s ease;
	padding:10px 0px;
}		
.head{
	text-align:center;
	padding: 20px;
	font-size:32px;
}		
.para{
	text-align:left;
	padding :20px;
	margin:0 auto;
	max-width:1600px;
	width: 80%;
	font-size:18px;
}
.sr_para{
	text-align:left;
	padding:0px 20px;
	margin:0 auto;
	max-width:500px;
	width:80%;
}
.mnav{
		padding:20px 0; 
		gap:60px; 
		justify-content:center;
		display:flex;
}
.mdiv{
	padding:20px;
	border: 2px solid #28c5b9;
	border-radius: 10px;
}
.mh3{
	max-width:1600px;
	width:80%;
	margin:0 auto;
	padding:20px;
}
h2{
	max-width:1600px;
	width:80%;
	margin:0 auto;
	padding:20px;
}
.cnav{
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
	gap:40px;
	padding:20px;
}
.cdiv{
	border: 2px solid #C4A484;
	padding:20px;
	width:400px;
	height:500px;
	justify-content:center;
}
.cimg{
	height:300px;
	border-radius: 10px;
}
.ch3{
	max-width:1600px;
	width:80%;
	margin:0 aut;
	padding:20px;
}
